.footContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-color: #db76f0;
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 10px 0;
}
.footText {
  display: flex;
  align-items: center;
}
.footContainer div h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0 20px;
  color: #fff;
  text-align: center;
  line-height: 20px;
}
.RedesSociales {
  display: flex;
  justify-content: center;
}

.RedesBtn {
  display: flex;
  grid-column: 1/2;
  text-decoration: none;
  color: #000428;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}
.RedesBtn:hover {
  color: #fff;
  background-color: #000428;
  transition: 0.5s;
}
@media only screen and (max-width: 720px) {
  .RedesSociales {
    padding-top: 10px;
  }
  .footContainer div h3 {
    font-size: 15px;
  }
}
